@import url("https://fonts.googleapis.com/css?family=Comfortaa|Major+Mono+Display|Open+Sans:200,300,400,500,600,700&display=swap");

html {
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	overflow: hidden;
}
* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

button,
input,
input:focus {
	outline: none;
}

input {
	transition: 0.3s all ease-in-out;
}

#loader-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: white;
	z-index: 10;
	transition: 0.4s all ease-in-out;
}

#loader-gif {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
}

#loader-form {
	width: 80px;
	margin: 0 0 0 calc(50% + 70px);
	transition: 0.2s all ease-in-out;
	opacity: 0;
}

#error {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	opacity: 0;
	display: none;
}

#error p {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Comfortaa";
	color: #ff0000;
	margin: 0;
	padding: 0;
	font-size: 1.593em;
}

#error button {
	background: white;
	padding: 10px 20px;
	font-family: "Comfortaa";
	border: 2px solid #ff0000;
	border-radius: 12px;
	color: #ff0000;
	font-size: 1em;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: 0.1s all ease-in-out;
}

#error button:hover {
	background: #ff0000;
	color: white;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	letter-spacing: 2px;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	font-family: "Comfortaa";
}

form {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: white;
	z-index: 0;
	transition: 0.4s all ease-in-out;
}

.form-wrapper {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
}

.cnt-input-wrapper {
	position: relative;
	margin: 0 15%;
	width: calc(70% - 40px);
}

input {
	font-family: "Comfortaa";
}

#search {
	position: absolute;
	width: 40px;
	top: 58%;
	left: 20px;
	z-index: 7;
	transform: translateY(-50%) rotate(-10deg) scaleX(-1);
	opacity: 0.75;
}

input[type="text"] {
	position: relative;
	width: calc(100% - 5% - 20px);
	font-size: 1.25em;
	padding: 20px 20px 20px calc(40px + 5%);
	border-radius: 20px;
	border: 2px solid transparent;
	-webkit-box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.2);
	color: #202020;
	z-index: 6;
}

form ul {
	position: absolute;
	top: calc(1.25em);
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 50px 20px 0;
	border-radius: 25px;
	z-index: 5;
	background: white;
	-webkit-box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 40px -12px rgba(0, 0, 0, 0.2);
}

form ul li {
	margin: 0 5%;
	padding: 20px;
	font-size: 1.25em;
	font-family: "Comfortaa";
	cursor: pointer;
	transition: 0.2s all ease-in-out;
}

form ul li:not(:last-child) {
	border-bottom: 2px solid rgba(16, 16, 16, 0.1);
}

form ul li:hover {
	color: #5aa300;
}

input[type="number"] {
	width: calc(20% - 24px);
	margin: 0 15%;
	padding: 10px;
	border-radius: 15px;
	font-size: 1em;
	border: 2px solid transparent;
	text-align: center;
	-webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
}

form button {
	margin-left: 50%;
	transform: translate(-50%, 300%);
	font-family: "Comfortaa";
	background: #5aa300;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px 25px;
	font-size: 1em;
	-webkit-box-shadow: 0px 0px 20px 2px rgba(90, 163, 0, 0.3);
	-moz-box-shadow: 0px 0px 20px 2px rgba(90, 163, 0, 0.3);
	box-shadow: 0px 0px 20px 2px rgba(90, 163, 0, 0.3);
	cursor: pointer;
	transition: 0.1s all ease-in-out;
}

form button:hover {
	transform: translate(-50%, 300%) scale(1.1);
}

form p {
	position: relative;
	margin-left: 16%;
	font-size: 1.953em;
	font-weight: 100;
	color: #202020;
	letter-spacing: -2px;
	z-index: 2;
}

.years-wrapper {
	position: relative;
	margin: 0 16%;
	transition: 0.2s all ease-in-out;
	z-index: 2;
}

.years-wrapper p {
	margin: 0;
	padding: 0;
}

.years-wrapper p:not(.years-minmax) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
}

.years-minmax {
	text-align: center;
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: 300;
	transition: 0.3s all ease-in-out;
}

.cnt-list__li-active {
	color: #5aa300;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	cursor: grab;
}

footer {
	position: absolute;
	bottom: 1%;
	right: 1%;
	font-family: "Major Mono display";
	text-transform: lowercase;
	z-index: -1;
}

footer p {
	text-align: right;
	margin: 0;
	padding: 0;
}

footer u {
	cursor: pointer;
}

#reset {
	cursor: pointer;
}

footer hr {
	margin: 0;
	padding: 0;
}

.modals {
	position: absolute;
	right: 1%;
	font-family: "Major mono display";
	text-transform: lowercase;
	transition: 0.2s all ease-in-out;
	text-align: right;
}

.modals a {
	color: black;
	font-size: 1em;
}

.modals ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.modals h3 {
	font-size: 1.25em;
}

.modals p,
.modals li,
.modals h3 {
	margin: 10px 0;
}

@media only screen and (max-height: 1400px) {
	.form-wrapper {
		top: 60%;
	}
	form p {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 1350px) {
	body {
		font-size: 90%;
	}
}
